{
	auto_https off
	admin off
}

:8080 {
	map {env.HOMARR_AUTH_ENABLED} {homarr_auth_cookie} {
		true ""
		True ""
		TRUE ""
		1 ""
		default "homarr.session-token={env.HOMARR_SESSION_TOKEN};"
	}

	map {http.request.header.Accept-Language} {homarr_locale} {
		~(?i)^de-ch(?:-|;|,|$) de-CH
		~(?i)^en-(?:gb|ie|au|nz)(?:-|;|,|$) en-gb
		~(?i)^pt-br(?:-|;|,|$) pt-br
		~(?i)^zh-(?:cn|sg|hans)(?:-|;|,|$) cn
		~(?i)^ca(?:-|;|,|$) ca
		~(?i)^cn(?:-|;|,|$) cn
		~(?i)^cs(?:-|;|,|$) cs
		~(?i)^da(?:-|;|,|$) da
		~(?i)^de(?:-|;|,|$) de
		~(?i)^el(?:-|;|,|$) el
		~(?i)^en(?:-|;|,|$) en
		~(?i)^es(?:-|;|,|$) es
		~(?i)^et(?:-|;|,|$) et
		~(?i)^fi(?:-|;|,|$) fi
		~(?i)^fr(?:-|;|,|$) fr
		~(?i)^(?:he|iw)(?:-|;|,|$) he
		~(?i)^hr(?:-|;|,|$) hr
		~(?i)^hu(?:-|;|,|$) hu
		~(?i)^it(?:-|;|,|$) it
		~(?i)^ja(?:-|;|,|$) ja
		~(?i)^ko(?:-|;|,|$) ko
		~(?i)^lt(?:-|;|,|$) lt
		~(?i)^lv(?:-|;|,|$) lv
		~(?i)^nl(?:-|;|,|$) nl
		~(?i)^(?:nb|nn|no)(?:-|;|,|$) no
		~(?i)^pl(?:-|;|,|$) pl
		~(?i)^pt(?:-|;|,|$) pt
		~(?i)^ro(?:-|;|,|$) ro
		~(?i)^ru(?:-|;|,|$) ru
		~(?i)^sk(?:-|;|,|$) sk
		~(?i)^sl(?:-|;|,|$) sl
		~(?i)^sv(?:-|;|,|$) sv
		~(?i)^tr(?:-|;|,|$) tr
		~(?i)^uk(?:-|;|,|$) uk
		~(?i)^vi(?:-|;|,|$) vi
		~(?i)^zh(?:-|;|,|$) zh
		default en
	}

	map {http.request.header.Cookie} {homarr_locale_cookie} {
		~(?i).*homarr[.]locale=.* ""
		default "homarr.locale={homarr_locale};"
	}

	reverse_proxy homarr:7575 {
		header_up Cookie "{homarr_auth_cookie}{homarr_locale_cookie}{http.request.header.Cookie}"
	}
}
